/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body{
    height: 100%;
}

body{
    background: #507299;
    font-family: RobotoLight;
}

::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

#container{
    width: 1200px;
}

#content{
    margin-top: 20px;
    background: #edeef0;
    text-align: justify;
}

.login-logo{
    position: absolute;
    top: 20px;
}

#admin-auth{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100%;
}

#admin-auth #content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-grow: 2;
}

.auth-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.auth{
    border-radius: 2%;
    box-shadow: 0 0 0.7em #656565;
}

.auth p{
    font-size: 1.5em;
    text-align: center;
    margin-top: 3%;
}

.auth #login-result{
    display: none;
    margin-bottom: 4%;
    color: red;
}

.auth input{
    font-size: 1.2em;
}

.login-btn{
    width: 100%;
    font-size: 1.2em;
    margin: 6% 0;
}

tr.row-text-center > th{
    vertical-align: middle;
    text-align: center;
}

.text-center{
    vertical-align: middle !important;
    text-align: center !important;
}

.action{
    margin-right: 5px;
    text-decoration: none;
    outline: none;
}

.action:hover{
    text-decoration: none;
    outline: none;
}

.header > h3{
    display: inline-block;
    width: 50%;
    margin: 5px 0 0 0;
    font-family: RobotoMedium;
}

.header > button{
    float: right;
}

.non-resizable-textarea{
    resize: none;
}

.form{
    margin-top: 28px;
}

.form > button{
    display: block;
    width: 100%;
    /*margin: 0 auto;*/
    float: left;
}

.form img{
    margin-bottom: 10px;
}

.important-hint {
    color: red;
}

.pagination-wrapper{
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.paginate-btn{
    margin: 5px;
    background-color: #d6d7d9;
    color: #0088d6;
}

.paginate-btn > a,
.current{
    display: block;
    padding: 10px 17px;
    font-size: 16px;
}

.paginate-btn > a,
.paginate-btn > a:hover{
    outline: none;
    text-decoration: none;
}

.current{
    background-color: #0088d6;
    color: #d6d7d9;
}

.non-accessible{
    display: block;
    padding: 10px 17px;
    font-size: 16px;
    margin: 5px;
    background-color: #d6d7d9;
    color: grey;
}

.sorting > a,
.sorting > a:hover{
    text-decoration: none;
    outline: none;
    color: #333;
}

.scrolling{
    position: fixed;
    color: #edeef0;
    font-size: 20px;
    right: 10px;
    bottom: 76px;
    z-index: 100 ;
    border: 3px solid #edeef0;
    padding: 0 3px 5px 3px;
    transition: .3s;
}

.scrolling:hover{
    color: #507299;
    background-color: #edeef0;
}